
# Emacs
*~

#KDE
.directory

# Python
__pycache__/
*.py[cod]
*$py.class
.Python

.pyre/
.pytype/
.mypy_cache/
.dmypy.json
dmypy.json
*cache
pip-*.txt


# Windows
*.db
[Dd]esktop.ini
*.lnk
$RECYCLE.BIN/
